/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
   background-color: #EEEEEE;
 }
 header {
   border-bottom: 1px solid #e8e8e8;
 }

.password {
  width: 80px;
}

#title {
  float: left;
}

#logout {
  float: right;
  margin-top: 15px;
}

.manual-update {
  margin-top: 30px;
  float: right;
  #update-log {
    display: block;
    margin-left:  auto;
  }
}

.feeds {
  list-style: none;
  .feed-unit {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 0px 5px 0px;
    .feed-name {

    }
    .feed-content {
      background-color: #FFFFFF;
      display: block;
      padding-left: 1em;
    }
    p {
      margin-bottom: 0em;
      padding-bottom: 0em;
    }
    .feed-date {
      color: green;
    }
  }
}
